<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.palnoshes"
        versionCode = "1" 
        version     = "1.0.0" >
        
        
       <preference name="permissions" value="none" />
       <preference name="SplashScreen" value="splash" /> 
       <preference name="SplashScreenDelay" value="4000" />
       <gap:plugin name="cordova-plugin-splashscreen" version="3.1.0" source="npm" />
       <preference name="orientation" value="portrait" />
       <preference name="fullscreen" value="true" />
       <plugin name="cordova-plugin-whitelist" />
 
    <!-- versionCode is Android only -->
    <!-- version is in major.minor.patch format --> 
    <name>Palno 6es</name>
 
    <description>
        Test your knowledge in Bulgarian literature. 
    </description>
 
    <author href="http://www.bistrachilikova.byethost32.com" email="bistra.chilikova@abv.bg">
        Bistra Chilikova
    </author>

    <allow-intent href="*" />
    <access origin="*" />
    <icon src="assets/icon.png" />    
    <splash src="assets/splash.png" />



 
</widget>
